.nav {
    display: flex;
    background-color: rgba(88, 88, 88, 0.918);
    border: 2px solid rgba(88, 88, 88, 0.918);
    color: #fff;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}